/* animasi gradien background */
@keyframes bg-pan {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

body {
  -webkit-tap-highlight-color: transparent; /* hilangkan highlight biru mobile */
  background-size: 200% 200%;
  animation: bg-pan 15s ease infinite;
}

/* animasi shine untuk tombol */
.shine-btn {
  position: relative;
  overflow: hidden;
}
.shine-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255,255,255,.3), transparent);
  transition: transform .7s ease-in-out;
}
.shine-btn:hover::after {
  left: 100%;
}

/* Hilangkan outline biru */
a:focus, button:focus {
  outline: none !important;
  box-shadow: none !important;
}
